.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&family=Ubuntu+Mono:ital@1&family=Ubuntu:wght@300;700&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* background animations */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 11vmin;
  height: 11vmin;
  border-radius: 11vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #e45a84;
  top: 62%;
  left: 40%;
  animation-duration: 53s;
  animation-delay: -9s;
  transform-origin: 8vw 0vh;
  box-shadow: -22vmin 0 3.2727585214444237vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 75%;
  left: 36%;
  animation-duration: 13s;
  animation-delay: -35s;
  transform-origin: 15vw 22vh;
  box-shadow: -22vmin 0 3.274446087300288vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffacac;
  top: 92%;
  left: 76%;
  animation-duration: 28s;
  animation-delay: -30s;
  transform-origin: 17vw -11vh;
  box-shadow: -22vmin 0 2.75524349066969vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffacac;
  top: 74%;
  left: 7%;
  animation-duration: 34s;
  animation-delay: -45s;
  transform-origin: 14vw -7vh;
  box-shadow: 22vmin 0 3.1497901653182083vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 16%;
  left: 72%;
  animation-duration: 25s;
  animation-delay: -46s;
  transform-origin: 20vw 18vh;
  box-shadow: -22vmin 0 3.387416198594368vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 100%;
  left: 88%;
  animation-duration: 13s;
  animation-delay: -27s;
  transform-origin: -3vw -22vh;
  box-shadow: -22vmin 0 3.117918638531714vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 92%;
  left: 66%;
  animation-duration: 29s;
  animation-delay: -19s;
  transform-origin: 23vw 2vh;
  box-shadow: -22vmin 0 3.1320908152909652vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 1%;
  left: 3%;
  animation-duration: 48s;
  animation-delay: -42s;
  transform-origin: -17vw -21vh;
  box-shadow: -22vmin 0 2.9236145134557017vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 54%;
  left: 73%;
  animation-duration: 42s;
  animation-delay: -43s;
  transform-origin: -12vw 13vh;
  box-shadow: -22vmin 0 2.965295831393555vmin currentColor;
}
.background span:nth-child(9) {
  color: #583c87;
  top: 18%;
  left: 7%;
  animation-duration: 18s;
  animation-delay: -32s;
  transform-origin: 25vw 7vh;
  box-shadow: -22vmin 0 3.2560387684638443vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 3%;
  left: 83%;
  animation-duration: 22s;
  animation-delay: -31s;
  transform-origin: 3vw -13vh;
  box-shadow: -22vmin 0 3.4382581729248556vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 8%;
  left: 88%;
  animation-duration: 14s;
  animation-delay: -30s;
  transform-origin: -8vw -10vh;
  box-shadow: -22vmin 0 3.3126654090285776vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffacac;
  top: 99%;
  left: 42%;
  animation-duration: 18s;
  animation-delay: -14s;
  transform-origin: 4vw -23vh;
  box-shadow: -22vmin 0 3.13592409851962vmin currentColor;
}
.background span:nth-child(13) {
  color: #e45a84;
  top: 38%;
  left: 95%;
  animation-duration: 41s;
  animation-delay: -19s;
  transform-origin: -3vw 25vh;
  box-shadow: 22vmin 0 3.5409654796741137vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffacac;
  top: 44%;
  left: 57%;
  animation-duration: 8s;
  animation-delay: -48s;
  transform-origin: 22vw 5vh;
  box-shadow: -22vmin 0 3.5155133828621787vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffacac;
  top: 93%;
  left: 47%;
  animation-duration: 41s;
  animation-delay: -4s;
  transform-origin: -12vw -7vh;
  box-shadow: 22vmin 0 3.008587119395145vmin currentColor;
}
.background span:nth-child(16) {
  color: #583c87;
  top: 94%;
  left: 8%;
  animation-duration: 10s;
  animation-delay: -28s;
  transform-origin: -10vw -13vh;
  box-shadow: 22vmin 0 3.497584317577269vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffacac;
  top: 87%;
  left: 73%;
  animation-duration: 14s;
  animation-delay: -50s;
  transform-origin: -19vw -8vh;
  box-shadow: 22vmin 0 3.6471970872053525vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 88%;
  left: 27%;
  animation-duration: 13s;
  animation-delay: -43s;
  transform-origin: 8vw 15vh;
  box-shadow: 22vmin 0 3.394702769338945vmin currentColor;
}
.background span:nth-child(19) {
  color: #583c87;
  top: 48%;
  left: 32%;
  animation-duration: 47s;
  animation-delay: -8s;
  transform-origin: 22vw 20vh;
  box-shadow: 22vmin 0 2.8703887550838116vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 47%;
  left: 28%;
  animation-duration: 13s;
  animation-delay: -40s;
  transform-origin: -4vw 1vh;
  box-shadow: -22vmin 0 3.012219148050945vmin currentColor;
}
.background span:nth-child(21) {
  color: #583c87;
  top: 40%;
  left: 72%;
  animation-duration: 55s;
  animation-delay: -13s;
  transform-origin: 7vw 13vh;
  box-shadow: 22vmin 0 3.62410640602096vmin currentColor;
}
.background span:nth-child(22) {
  color: #ffacac;
  top: 74%;
  left: 78%;
  animation-duration: 21s;
  animation-delay: -6s;
  transform-origin: 2vw 4vh;
  box-shadow: 22vmin 0 3.3902605425824235vmin currentColor;
}

.headers-class {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title-tag {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: wheat;
}
.softener {
  color: #d5e03e;
}
.input-url {
  width:20rem;
  height:2rem;
  border: none;
  outline: none;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input-url::placeholder{
  font-size: 0.9rem;
  text-transform: uppercase;
}

.btn{
  width:6rem;
  height:2rem;
  background-color:#1a5570 ;
  color: white;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Result {
  width: 30rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.url-link {
  padding: 1rem;
  border: 1px solid gray;
}

.copy {
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.2rem;
  color: wheat;
  background-color: #1a5570;
}

.copy:hover {
   height: 2.2rem;
   color: #d5e03e;
}

.Error {
  border: 1px solid red;
  position: absolute;
  right: 0.3rem;
  border: none;
  border-radius: 0.5rem;
  top: 1rem;
  width: 50%;
  background-color: #e45a84;
  color: white;
  text-align: center;
}